<ion-view id="ring" view-title="支付宝账户" cache-view="false">
  
  <ion-content scroll="true" class="has-header">
    <ion-list>
      <label for="" class="item item-input item-icon-right">
        <span class="input-label">支付宝账号：</span>
        <input type="text" ng-model="account.alipay" placeholder="{{account.filled}}">
      </label>  
    </ion-list>
    <p class="notice padding">注意：支付宝帐户必须是以你本人信息开通的帐号</p>
    <div class="padding">
       <button ng-class="{'button':true, 'button-assertive':account.buttonState,'button-balanced':!account.buttonState, 'button-block':true}" on-tap="alipay()">{{account.buttonText}}</button>
    </div>
   
  </ion-content>

</ion-view>


