<ion-view view-title="找回密码" id="forgetps" >
	<ion-content  has-bounds="true">
		<ion-list>
    <form name="signupForm">
  			<label class="item item-input ion-icon-left">
  				<i class="ion-android-phone-portrait"></i>
    			<input type="number" placeholder="手机号码" required="required" ng-model="bindData.phone" ng-change="checkphone()">
  			</label>

  			<div class="item item-input ion-icon-left verificationCode">
  				<i class="ion-key"></i>
          <!-- <span class="input-label">短信验证</span> -->
    			<input type="text" placeholder="短信验证" required="required" ng-model="bindData.code">
    			<button ng-class="{'code':true, 'button':true, 'button-assertive':!bindData.runing, 'button-light':bindData.runing}" ng-click="getCode()" >{{bindData.CodeInterval}}{{bindData.verificationBtn}}</button>
  			</div>

        <label class="item item-input ion-icon-left">
          <i class="ion-locked"></i>
          <input type="password" placeholder="新密码" required="required" ng-model="bindData.password" ng-change="checkphone()">
        </label>

        <label class="item item-input ion-icon-left">
          <i class="ion-locked"></i>
          <input type="password" placeholder="重复新密码" required="required" ng-model="bindData.password2" ng-change="checkphone()">
        </label>
  			
		</ion-list>
		<div class="padding">
			<button class="button button-assertive button-block" ng-disabled="signupForm.$invalid || phoneErr || psErr || psErr2 || referErr" ng-click="submite()">注册</button>
		</div>
    </form>
    <div class="container">
      
    </div>

	</ion-content>
</ion-view>