<ion-view id="goodsManager" view-title="产品管理">
  <ion-content class="has-header">
    <ul class="">
        <li>
            <img src="img/ben.png">
        </li>

        <li>
            <img src="img/ben.png">
        </li>

         <li>
            <img src="img/ben.png">
        </li>


         <li>
            <img src="img/ben.png">
        </li>

        <li>
            <img src="img/ben.png">
        </li>

         <li>
            <img src="img/ben.png">
        </li>

        <li>
            <button class="button button-light">
              <i class="icon iconfont icon-add"></i>
            </button>
        </li>
    </ul>

    <ion-list>
        <ion-item class="item-input">
            <span class="input-label">产品名称</span> 
            <input type="text" name="">
        </ion-item>

      <!--   <ion-item class="item-input">
            <span class="input-label">产品分类</span> 
            <input type="text" name="">
        </ion-item>
 -->
        <ion-item class="item-input">
            <span class="input-label">产品价格</span> 
            <input type="text" name="">
        </ion-item>

        
    </ion-list>
    <div class="padding">
         <button class="button button-assertive button-block">上架</button>
    </div>
   
    
  </ion-content>
</ion-view>
