<ion-view id="guidepage" view-title="引导页" hide-back-button="true" cache-view="false" hide-nav-bar="true">
  <div id="guideSlide" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="item-logo">

          <div class="animate guide-show">
            <img src="img/aaa.jpg" alt="" class="full-image">

          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item-logo">
          <div id="tips-2" class="animate hidden">
            <img src="img/aaa.jpg" alt="" class="full-image">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item-logo" style="">
          <div id="tips-3" class="animate hidden">
            <img src="img/aaa.jpg" alt="" class="full-image" style="height:100%;">
          </div>
          <button id='close' class="button button-light button-block">登录</button>
        </div>
      </div>

      </div>
    </div>
  </div>
</ion-view>
