<ion-view view-title="登录" id="login" hide-nav-bar="true">
	<ion-content class="padding" has-bounds="true">
		<div class="logo">
			<div class="pic">
				<img src="img/ben.png" alt="">
			</div>
			<h3>易客购</h3>
		</div>
		<ion-list>
			<form name="loginForm">
			<label class="item item-input ion-icon-left">
				<i ng-class="{'ion-person':true, 'focus':actions==1}"></i>
    			<input type="number" placeholder="手机号码" ng-click="active(1)" ng-model="bindData.phone" required="required" ng-change="checkphone()">
  			</label>
  			<label class="item item-input ion-icon-left">
  				<i ng-class="{'ion-locked':true, 'focus':actions == 2}"></i>
    			<input type="password" placeholder="密码" ng-click="active(2)" ng-change="checkps()" ng-model="bindData.password">
  			</label>
		</ion-list>
		<div class="forgetps">
			<a ng-href="#/forgetps" >忘记密码</a>
		</div>
		

		<button class="button button-assertive button-block" ng-disabled="loginForm.$invalid || phoneErr || psErr" on-tap="login()">登录</button>
		<div class="button-bar">
			<a ng-href="#/signup" class="button button-light">快速注册</a>
		</div>
		
</form>
	</ion-content>
</ion-view>