
<ion-view id="ring" view-title="个人信息验证" cache-view="false">
  
  <ion-content scroll="true" class="has-header">
    <ion-list>
      <a href="#/realname" class="item item-icon-right">
        <i class="icon iconfont icon-right"></i>
          真实姓名
      </a>

      <a href="#/bankaccount" class="item item-icon-right">
        <i class="icon iconfont icon-right"></i>
          银行卡号
      </a>

      <a href="#/alipay" class="item item-icon-right">
        <i class="icon iconfont icon-right"></i>
          支付宝帐号
      </a>

      <a href="#/wechat" class="item item-icon-right">
        <i class="icon iconfont icon-right"></i>
          微信
      </a>
    </ion-list>
  </ion-content>

</ion-view>


