
<ion-view id="ring" view-title="实名认证" cache-view="false">
  
  <ion-content scroll="true" class="has-header">
    <ion-list>
      <a href="#/pravite" class="item item-icon-right">
        <i class="icon iconfont icon-right"></i>
          真实姓名
      </a>

      <a href="#/bankaccount" class="item item-icon-right">
        <i class="icon iconfont icon-right"></i>
          银行帐户
      </a>

       <a href="#/alipay" class="item item-icon-right">
        <i class="icon iconfont icon-right"></i>
          支付宝帐号
      </a>
    </ion-list>
  </ion-content>

</ion-view>


