<ion-view id="safesetting" class="safeSetting" view-title="安全设置" cache-view="false">
  <ion-content scroll="true" class="has-header">
    <div class="list  item-icon-left">
        
        <a ng-href="#/changeloginps" class="item item-icon-left item-icon-right">
            <i class="icon iconfont icon-edit"></i>
            修改登录密码
             <i class="icon iconfont icon-right"></i>
        </a>

        <a ng-href="#/changeWithdraw" class="item item-icon-left item-icon-right">
            <i class="icon iconfont icon-pay"></i>
            修改提现密码
             <i class="icon iconfont icon-right"></i>
        </a>
    </div>
  </ion-content>

</ion-view>


