<ion-view view-title="橱窗" id="showcase" hide-nav-bar="false">
	<ion-content class="padding" has-bounds="true">
		<ul class="row">
			<li class="col-50">
				<a href="#/">
					<img src="img/ben.png" alt="">
				</a>
				<p>明星同款</p>
				<span>1999.00</span>
			</li>

			<li class="col-50">
				<a href="#/">
					<img src="img/ben.png" alt="">
				</a>
				<p>明星同款</p>
				<span>1999.00</span>
			</li>

			<li class="col-50">
				<a href="#/">
					<img src="img/ben.png" alt="">
				</a>
				<p>明星同款</p>
				<span>1999.00</span>
			</li>

			<li class="col-50">
				<a href="#/">
					<img src="img/ben.png" alt="">
				</a>
				<p>明星同款</p>
				<span>1999.00</span>
			</li>
		</ul>
		<div class="button-bar">
			<button class="button button-balanced">总价￥</button>
			<button class="button button-assertive" ng-click="purchase()">购买</button>
		</div>
	</ion-content>
</ion-view>