<ion-view id="account" view-title="我的" hide-back-button="true" hide-nav-bar="true" cache-view="false">
  <ion-header-bar class="bar-positive bar-profile">

    <div class="profile" >
      <!-- 用户头像 -->
      <div class="profile-pic">
        <div>
          <a ng-href="#/editProfile">
            <img ng-if="userInfo.picture.touxiang==null" src="img/ben.png">
            <img ng-if="userInfo.picture.touxiang!=null" src="{{userInfo.picture.touxiang}}" alt="">
            <!-- <img id="pic" src="{{userinfo.touxiang}}" alt=""> -->
            <!-- <span ng-if="isMerchant" class="badge badge-assertive">{{isMerchant}}</span> -->
          </a>
        </div>
        <p>{{userInfo.info.nikename}}</p>
      </div>
      <!-- 消费者身份等级 -->

      <!-- user  property-->
      <div class="user-property row">
        <a href="#" class="col total">
          <p>爱心</p>
          <span>{{userInfo.info.love}}</span>
        </a>

        <a href="#/integral" class="col back-money">
          <p>购物豆</p>
          
          <span>{{userInfo.info.shopbean}}</span>
        </a>

        <a href="javascript:void(0)" class="col subsidy" ng-click="goWithdraw()">
          <p>冻结</p>
          <span>{{unfreeze}}元</span>
        </a>

        <a href="javascript:void(0)" class="col coin" ng-click="goWithdraw()">
          <p>可提</p>
          <span>{{normal}}元</span>
        </a>
      </div>
    </div>

    <button class="button button-clear pull-right icon iconfont icon-messagefill">
      <span class="badge hasMessage">0</span>
    </button>
  </ion-header-bar>
  <ion-content  class="has-header" has-bouncing="true" on-scroll="zoom()">

    

    <!-- user Identity-->
    <div class="identity-switch">
      <a href="#/consumerInfo" ng-class="{'identity-btn':true, 'icon':true, 'iconfont':true,  'customer':true}" >消费者{{zoom.whether}}
        <div class="star">
          <i ng-repeat="temp in temp_leavl.jf0 | orderBy : temp :'desc' track by $index">
            <i ng-if="temp==1" class="icon iconfont  ion-android-star"></i>
            <i ng-if="temp==0" class="icon iconfont icon-favor identified"></i>
          </i>
        </div>
      </a>

      <a href="#/merchantInfo" ng-class="{'identity-btn':true, 'icon':true, 'iconfont':true,  'shop':merchant - 0}">商家
      </a>

      <a href="#/extentionInfo" ng-class="{'identity-btn':true, 'icon':true, 'iconfont':true,  'extention':reseller - 0}">推广员
       <div class="star">
         <i ng-repeat="temp in temp_leavl.jf1 | orderBy : temp :'desc' track by $index">
          <i ng-if="temp==1" class="icon iconfont  ion-android-star"></i>
          <i ng-if="temp==0" class="icon iconfont icon-favor identified"></i>
        </i>
      </div>
    </a>

    <a href="#/agencyInfo" ng-show="true" ng-class="{'identity-btn':true, 'icon':true, 'iconfont':true, 'agent':resellshop - 0}">代理商
      <div class="star">
        <i ng-repeat="temp in temp_leavl.jf4 | orderBy : temp :'desc' track by $index">
          <i ng-if="temp==1" class="icon iconfont  ion-android-star"></i>
          <i ng-if="temp==0" class="icon iconfont icon-favor identified"></i>
        </i>
      </div>
    </a>
  </div>

    <div class="moreInfo">
      <button class="button button-light button-block iconfont icon-unfold" ng-click="showMore()">
        我的更多信息
      </button>
    </div>
    <div class="profile-text" ng-show="show">
      <ion-list>
        <ion-item>
          <i class="icon iconfont icon-profile"></i>
          我的推荐人:{{referbywho}}
        </ion-item>
        <a ng-href="#/popularize" class="item ">
           <i class="icon iconfont icon-profile"></i>
          我的推广
        </a>
      </ion-list>
    </div>


    <!-- 信息条 -->
    <div class="list">

    

    <a ng-href="#/safesetting" class="item item-icon-left item-icon-right">
      <i class="icon iconfont icon-safe">
      </i>
      安全设置
      <i class="icon iconfont icon-right"></i>
    </a>

    <a ng-href="#/private" class="item item-icon-left item-icon-right">
      <i class="icon iconfont icon-profile">
      </i>
      实名认证
      <i class="icon iconfont icon-right"></i>
    </a>
    <a ng-href="#/moresetting" class="item item-icon-left item-icon-right">
      <i class="icon iconfont icon-settings">
      </i>
      更多设置
      <i class="icon iconfont icon-right"></i>
    </a>
    <a ng-href="#/record" class="item item-icon-left item-icon-right">
      <i class="icon iconfont ion-social-yen-outline">
      </i>
      提现记录
      <i class="icon iconfont icon-right"></i>
    </a>


  </div>



</div>


</ion-content>
</ion-view>


